;User defined touch control placement. This file contains only positions that have
; been modified by the user and is loaded on top of the defaults file.
PositionAndScale 531, 310, SCALE_MEDIUM ; WIDGET_POSITION_ENTER_CAR
PositionAndScale 524, 160, SCALE_MEDIUM ; WIDGET_POSITION_TARGETING_AND_ATTACK
PositionAndScale 477, 286, SCALE_LARGE ; WIDGET_POSITION_VC_SHOOT
PositionAndScale 136, 173, SCALE_MEDIUM ; WIDGET_POSITION_VC_SHOOT_ALT
PositionAndScale 539, 380, SCALE_MEDIUM ; WIDGET_POSITION_SWAP_WEAPONS
PositionAndScale 65, 152, SCALE_SMALL ; WIDGET_POSITION_MISSION_START_AND_MISSION_CANCEL
PositionAndScale 585, 380, SCALE_LARGE ; WIDGET_POSITION_ACCELERATE
PositionAndScale 532, 380, SCALE_LARGE ; WIDGET_POSITION_BRAKE
PositionAndScale 585, 310, SCALE_MEDIUM ; WIDGET_POSITION_HANDBRAKE_AND_AIR_SHOOT
PositionAndScale 38, 292, SCALE_LARGE ; WIDGET_POSITION_VEHICLE_STEER_LEFT
PositionAndScale 94, 290, SCALE_LARGE ; WIDGET_POSITION_VEHICLE_STEER_RIGHT
PositionAndScale 135, 353, SCALE_SMALLER ; WIDGET_POSITION_HORN
PositionAndScale 135, 399, SCALE_SMALLER ; WIDGET_POSITION_CAM_TOGGLE
PositionAndScale 40, 215, SCALE_SMALL ; WIDGET_POSITION_VEHICLE_SHOOT_LEFT
PositionAndScale 89, 215, SCALE_SMALL ; WIDGET_POSITION_VEHICLE_SHOOT_RIGHT
PositionAndScale 450, 205, SCALE_SMALL ; WIDGET_POSITION_CAR_SHOOT
PositionAndScale 590, 380, SCALE_MEDIUM ; WIDGET_POSITION_BUTTON_SPRINT_AND_SWIM
PositionAndScale 588, 158, SCALE_MEDIUM ; WIDGET_POSITION_PHONE
PositionAndScale 569, 188, SCALE_MEDIUM ; WIDGET_POSITION_HYDRAULICS

PositionAndScale 55, 380, 30, 30 ; WIDGET_POSITION_RADAR
PositionAndScale 57, 30, 45, 15 ; WIDGET_POSITION_HELP_TEXT
PositionAndScale 57, 30, 45, 15 ; WIDGET_POSITION_HELP_TEXT_ALT
PositionAndScale 57, 30, 45, 15 ; WIDGET_POSITION_HELP_TEXT_ALT_SHOPS
